@mixin styleButton ($bg-color, $color) {
    box-shadow: 0 0 0 4rem $bg-color inset;
    border: 0;
    border-radius: 100px;
    padding: 10px 20px;
    color: $color;
    transition: $transition;
    background-color: transparent;
  
    &:hover {
      color: $bg-color;
      box-shadow: 0 0 0 1px $bg-color inset;
    }
}

@mixin iconButton ($icon-color, $hover-color) {
    color: $icon-color;
    font-size: $icon-font-size;
    transition: $transition;
    &:hover{
        color: $hover-color;
    }
}