.info {
    background-color: #dcd1f0;
    text-align:center;
    background-image: url(../../img/Wave_White_bottom_right_shape_01.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .card {
        border-radius: $base-spacing;
        transition: $transition;
        border-radius: 15px;
        &:hover {
            box-shadow: $box-shadow;
        }
    }

    .card-subtitle {
        color: $purple;
        font-weight: 600;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
        font-family: "Montserrat",Arial,Helvetica,sans-serif;
        font-size: $font-size-3;
    }
    .card-title {
        font-weight: 700;
        font-size: $font-size-2;
        margin-bottom: $base-spacing;
        font-family: "Montserrat",Arial,Helvetica,sans-serif;
    }
    .card-text{
        font-family: "Roboto",Arial,Helvetica,sans-serif;
        font-weight: 400;
        margin-bottom: $base-spacing;
    }
    .card-img-wrapper {
        height: 180px;
        overflow: hidden;border-radius: 15px 15px 0 0;
        img {
            transition: $transition;
            
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}